/* Estilos globales */
body {
    font-family: 'Lucida Handwriting', cursive;
    line-height: 1.8;
    margin: 5;
    padding: 5;
    background-image: url("ft1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: black;

}

/* Estilo para el encabezado del artículo */
article header {
    background-color: #8FBC8F;
    color:  #F08080;
    opacity: 0.9;
    border-style: dotted;
    border-color: #DB7093;
    padding: 1em 5;
    text-align: center;
}

/* Títulos */
h1, h2 {
    margin-bottom: 1em;
    border-left-width:  thin, #66CDAA ;
}

/* Fecha del artículo */
article header time {
    font-style: italic;
    color: #f4f4f4;
}

/* Estilos para las secciones */
section {
    background-color: #B22222;
    opacity: 0.9;
    margin: 1em;
    padding: 1em;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

/* Estilos para listas */
ul {
    padding-left: 50px;
}

ul ul {
    list-style-type: circle;
}

/* Estilos para el formulario */
form {
    background-color: #f8f9fa;
    padding: 1em;
    border-radius: 8px;
}

form label {
    display: block;
    margin-bottom: 0.5em;
}

form input[type="text"],
form input[type="email"],
form textarea {
    width: 100%;
    padding: 0.5em;
    margin-bottom: 1em;
    border: 1px solid #ddd;
    border-radius: 4px;
}
/*boton enviar*/
form input[type="submit"] {
    background-color: #3CB371;
    color: #F5FFFA;
    border: none;
    padding: 0.7em 2em;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form input[type="submit"]:hover {
    background-color: #218838;
}

/* Estilos para tablas */
table {
    width: 100%;
    margin-top: 1em;
}

th, td {
    border-bottom:  1px solid black;
    text-align: left;
    padding: 8px;
}

thead {
    background-color: #556B2F;
    color: #fff;
}

/* Media queries para responsividad. Aún no hemos dado esto y solamente lo quiero mencionar. Busca su significado */
/* aplicar estilos diferentes a un documento HTML en función de las características del 
dispositivo en el que se visualiza la página, 
principalmente basándose en el tamaño de la pantalla y la resolución. */
@media (max-width: 600px) {
    body {
        background-color: #e3f2fd;
    }

    article header {
        padding: 0.5em 0;
    }

    form input[type="submit"] {
        width: 100%;
    }
}
